*{
Padding: 0;
Margin: 0;
Box-sizing: border-box}

body{
    padding: 35px 0px;}

.top{
    width: auto;
    height: 100px;
    background-color: violet;
    margin-left: 5%;
    margin-right: 5%;}

.first-section{
    width: auto;
    height: 350px;
    background-color: yellow;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;}

.second-section{
    width: auto;
    height: 350px;
    background-color: rgb(0, 204, 255);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
    border-bottom: 15px solid blue;
    display: block;
}

.head-2s{
    width: auto;
    height: 75px;
    border-bottom: 15px solid blue;
}

.left-2s{
    width: 20%;
    height: 275px;
    display: inline-block;
}

.middle-2s{
width: 59%;
height: 275px;
display: inline-block;
border-right: 15px solid blue;
border-left: 15px solid blue;
}

.right-2s{
    width: 20%;
    height: 275px;
    display: inline-block;
}

footer{
    width: auto;
    height: 75px;
    background-color: rgb(228, 8, 248);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;}